*~
Makefile.in
Makefile

/aclocal.m4
/autom4te.cache
/build-supernested.sh
/config.guess
/config.log
/config.status
/config.sub
/configure
/init
/initrd
/install-sh
/kernel
/missing
/run-supernested.sh
/supernested-*-*.qcow2
/tmp-appliance.d
/tmp-supermin.d
